// font-family: 'Roboto';
@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src:  local('Roboto'), local('Roboto-Regular');
  src:  url('../assets/fonts/Roboto-Regular.eot');
  src:  url('../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Regular.woff') format('woff'),
        url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'Roboto';
// font-weight: 700;
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src:  local('Roboto'), local('Roboto-Bold');
  src:  url('../assets/fonts/Roboto-Bold.eot');
  src:  url('../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold.ttf') format('truetype'),
        url('../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}


h1 {
  font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
