// Кнопки

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  box-shadow: 1px 2px 6px #999;
  padding: 8px 20px;
  margin: 5px;
  background-color: $primary;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
