input[type='text'] {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  background: none;
  outline: 0 none;
  border: 1px solid #dedede;
  padding: 10px 15px;
  color: #333;
  background-color: #fff;

  &:focus {
    border-color: darken(#dedede, 15%);
  }
}
