<div class="row todo-item">
  <div class="todo-item__check" (click)="toggleItem()" [ngClass]="{ 'todo-item__check--done': todo.done }">
    <i class="fa fa-fw fa-square-o" *ngIf="!todo.done"></i>
    <i class="fa fa-fw fa-check-square-o" *ngIf="todo.done"></i>
  </div>
  <input #taskInput class="todo-item__name" [ngClass]="{ 'todo-item__name--done': todo.done }" [disabled]="todo.done" [value]="todo.name" (keyup)="updateItem(taskInput.value)">
  <span class="todo-item__btn" (click)="removeItem()">
    <i class="fa fa-trash"></i>
  </span>
</div>
